In [60]:
import pandas as pd
df= pd.read_csv('effectscovid.csv')
df.loc[(df['Year'] == 2019.0)]

,Direction,Year,Date,Weekday,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
64047,Exports,2019.0,01/01/2019,Tuesday,All,All,All,$,113000000.0,113000000.0
64048,Exports,2019.0,02/01/2019,Wednesday,All,All,All,$,51000000.0,164000000.0
64049,Exports,2019.0,03/01/2019,Thursday,All,All,All,$,143000000.0,306000000.0
64050,Exports,2019.0,04/01/2019,Friday,All,All,All,$,92000000.0,398000000.0
64051,Exports,2019.0,05/01/2019,Saturday,All,All,All,$,51000000.0,450000000.0
...,...,...,...,...,...,...,...,...,...,...
80059,Reimports,2019.0,26/12/2019,Thursday,All,All,All,$,0.0,186000000.0
80060,Reimports,2019.0,27/12/2019,Friday,All,All,All,$,1000000.0,186000000.0
80061,Reimports,2019.0,29/12/2019,Sunday,All,All,All,$,0.0,186000000.0
80062,Reimports,2019.0,30/12/2019,Monday,All,All,All,$,0.0,187000000.0
80063,Reimports,2019.0,31/12/2019,Tuesday,All,All,All,$,0.0,187000000.0